h1 {
  color: lavenderblush;
  margin-top: .2rem;
  text-align: center;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  border: .085rem solid salmon;
  border-radius: .2rem;
  background-color: rgb(227, 205, 248);
  margin-top: 1rem;
  height: 100%;
}

.card img {
  float: right;
}

body {
  background-color: rgb(223, 223, 246);
}

.card-text {
  color: rgb(55, 55, 117);
  text-align: center;
}

.box {
  display: flex;
}

.highlight {
  background-color: rgba(255, 255, 0, 0.529);
}

img {
  vertical-align: middle;
  border: .2rem solid salmon;
  border-radius: 2.0rem;
  width: 15rem;
}